* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
}

#background {
   margin: 0;
   background: linear-gradient(135deg, #1b0c1e 30%, #4d0819) fixed;
   background-size: 200% 200%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   animation: fade-in 6s ease both;
}

@keyframes fade-in {
   0% {
      background-size: 250% 250%;
   }
   100% {
      background-position: 100% 100%;
   }
}

section {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

@keyframes drop {
   0% {
      transform: rotate(45deg) translateX(-50%);
      opacity: 1;
   }
   70% {
      opacity: 1;
   }
   100% {
      transform: rotate(45deg) translateX(150vh);
      opacity: 0;
   }
}

.container {
   height: 100%;
   width: 80%;
   display: grid;
   grid-template-rows: repeat(3, 100vh);
}

.view {
   height: 75%;
   justify-self: stretch;
   align-self: center;
   padding: 2rem;
   background-color: rgba(0, 0, 0, 0.514);
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   row-gap: 1rem;
   color: white;
}

#presentation-view h1{
   margin-top: 10%;
}

h1 {
   font-size: 80px;
}

h2 {
   font-size: 36px;
}

h3 {
   font-size: 30px;
}

#about-me-view {
   text-align: justify;
   text-justify: kashida;
}

#about-me-view p{
   font-size: 24px;
}

#tech-conntainer{
   flex-grow: 1;
   display: grid;
   text-align: center;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 1em;
}

@keyframes dropdown {
   0%{
      flex-grow: 0;
   }
   100%{
      flex-grow: 1;
   }
}

.tech-box{
   display: flex;
   flex-direction: column;
   row-gap: 1em;
}

.tech-content{
   height: 0%;
   border-radius: 1rem;
   background-color: indigo;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.button-expand {
   width: auto;
   height: fit-content;
   border-radius: 1rem;
   background-color: #4b0082;
   padding: 1em;
}

.button-expand:hover {
   background-color: #2d004d;
}

.icon-wrapper{
   width: 75%;
   padding: 5px 1em;
   display: flex;
}

.icon{
   height: 45px;
   width: 45px;
}

.icon-lbl-wrapper{
   flex-grow: 1;
   padding-left: 1rem;
   display: flex;
   align-items: center;
   text-align: justify;
   text-justify: kashida;
}





